  div {
    display: inline;
    padding: 0px;
  }

  body {
    font-size: 1em;
  }

  .editor {
    max-height: 600px;
    max-width: 800px;
    width: 100%;
    height: 100%;
    padding: 1em;
    background-color: LightSteelBlue;
    color: Black;
    font-size: 1em;
    font-family: monospace;
    display: block;
  }

  .string {
    font-style: oblique;
  }

  .sexpr {
    display: inline-table;
    margin-left:  0.32em;
    margin-right: 0.32em;
    margin-bottom: 0.32em;
  }

  .gray {
    color: Gainsboro;
    opacity: 0.6;
    -webkit-opacity: 0.6;
    -moz-opacity:0.6;
  }

  .open {
    display: table-cell;
 }

  .openParen {
    width: 0.64em;
    max-width: 0.64em;
  }

  .close {
    display: table-cell;
  }

  .closeParen {
    height: 1em;
    max-width:  10px;
    width: 10px;
  }


  .data {
    display: inline-block;
    padding: 0em;
    margin:  0em;
  }

  .space {
   display: inline;
   padding: 0em;
   margin: 0em;
  }

  .body {
    display: inline-block;
    min-height: 1em;
    padding: 0.16em;
  }
 
  img.closeParen {
    height: 100%;
  }

  img.openParen {
    height: 100%;
  }

