  div {
    display: inline;
    padding: 0px;
  }

  body {
    font-size: 1em;
  }

  .editor {
    max-height: 600px;
    max-width: 800px;
    width: 100%;
    height: 100%;
    padding: 1em;
    background-color: Black;
    color: White;
    font-size: 1em;
    font-family: monospace;
    display: block;
  }

  .string {
    font-style: oblique;
  }

  .sexpr {
    display: inline-table;
    padding: 0em;
    margin: 0em;
  }

  .gray {
    color: Gainsboro;
  }

  .open {
    position: relative;
    display: table-cell;
    font-size: 18px;
  }

  .openParen {
  }

  .data {
    vertical-align: top;
    display: inline-block;
    padding: 0em;
    margin:  0em;
  }

  .space {
   display: inline;
   padding: 0em;
   margin: 0em;
  }

  .close {
    position: relative;
    display: table-cell;
    font-size: 18px;
  }

  .closeParen {
  }

  .body {
    display: inline-block;
  }
  
