.editor {
	max-height:		600px;
	max-width:		800px;
	width:			100%;
	height:			400px;
	padding:		1em;
	background-color: LightSteelBlue;
	font-size:		1em;
	display:		block;
}


div.openParen, div.closeParen, div.wspace {display: none;}
div.string {float: left; padding: 0px; margin: 0px;}
div.openQuote{float: left; margin: 5px 0px 5px 5px;}
div.closeQuote{float: left; margin: 5px 5px 5px 0px;}

div.sexpr{
	display:		table-cell;
	margin:			5px;
	clear:			none;
	float:			left;
	border:			3px solid black;
	display:		block;
	text-align:		center;
	-moz-border-radius: 10px; 
	-webkit-border-radius:10px; 
	float:			left;
}

div.data{
	margin:			5px;
	clear:			none;
	display:		inline;
	padding:		0px;
	font-size:		1em;
	height:			22px;
	text-align:		center;
	float:			left;
}

div.openQuote+div.data{margin: 5px 0px;}

div.function-node, div.unknown-node{
	float:			top;
	height:			20px;
	background:		black;
	color:			white;
	text-align:		center;
	width:			100%;
	margin:			0px;
	padding:		0px;
	border:			none;
	-moz-user-select:	none;
    -khtml-user-select: none;
    user-select:		none;
}