/* Some global settings */
html {
    height: 100%;
    min-width: 320px;
    background: #f5deb3;
    padding:		0px;
    margin:		0px;
    border: 0px;
    overflow: hidden;
}

html, body, h1, h2, #header, #fileInfo, #toolbar *, #defn, #footer, #inter, input{
    padding:		0px;
    margin:		0px;
    border: 0px;
}


body {
    width:   100%;
    height:  100%;
    padding: 0px;
    margin:  0px;
    border: 0px;
}



#editor {
    width:   100%;
    height:  100%;
    padding: 0px;
    margin:  0px;
    border: 0px;
}


#top {
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
}


#middle {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

#splitpane {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
}


#bottom {
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
}


.goog-splitpane-handle {
    background: #ccc;
    position: absolute;
}

.goog-splitpane-handle-horizontal {
    cursor: col-resize;
}

.goog-splitpane-handle-vertical {
    cursor: row-resize;
}

.goog-splitpane-first-container,
.goog-splitpane-second-container {
    overflow: none;
    position: absolute;
}





.form {
    display: inline-block;
}


/* 65px: LOGO AND TITLE */
#header{
    width:			100%;
    height:			65px;
    background:		url(/css/images/icon-trans.png) ;
    background-repeat:no-repeat;
    clear:          both;
    padding-bottom: 4px;
}

h1{ font-size:	38px;	margin-left:	65px;}
h2{	font-size: 14px; margin-left:	65px;}

h2 a, h2 a:visited {color: black; margin-right: 15px; text-decoration: none;}
h2 > a:hover{text-decoration: underline;}

/* 30px: FILENAME & URL */
#fileInfo{
    width:			100%;
    height:			24px;	/\* leave room for the border *\/ 
    clear:			both;
    padding-top:	5px;
    white-space:	nowrap;
    border-top:		solid 1px black;
    margin:         0px;
}

#fileInfo *{
    width:                  auto;
    float:			left;
    margin:			0px 10px;
}






/* 20px: TOOLBAR, BUTTONS, ETC */
#toolbar{
    width:			100%;
    /* height:		19px;	/\* leave room for the border *\/ */
    padding-bottom: 0px;
    border-top:     solid 1px black;
    background:		black;
    clear:			both;
}

#toolbar ul{
    clear:			both;
    list-style-type: none;

}

#toolbar li{
    float:			left;
    text-align:		center;
    width:			20%;
    max-width:      125px;
    min-width:      80px;
}

#toolbar .button {
  display: block;
  width: 100%;
  min-height: 20px;
  background-repeat: no-repeat;
  background-position: 15px 0px;
}

a#run    span:before{content: url(run.png);    margin-right: 3px;}
a#stop   span:before{content: url(break.png);  margin-right: 3px;}
a#save   span:before{content: url(save.png);   margin-right: 3px;}
a#share  span:before{content: url(share.png);  margin-right: 3px;}
a#recipe span:before{content: url(recipe.png); margin-right: 3px;}

#toolbar li a, #toolbar li a:visited{
    display:		block;
    color:			white;
    width:			100%;
    text-decoration:none;
    vertical-align: top;
}

#toolbar li a:hover{
    background:		#546DAF;
    color:			white;
    cursor:			pointer;
}











/* DEFINITIONS */
#definitions{
    width:                  100%;
    height:                  50%;
    clear:			both;
    text-align:		center;
    padding:		0px;
    overflow:		hidden;
    margin:			0px;
    border:         0px;
    background:		gray;
    border-bottom:	solid 1px black;
}



#defn {
    clear:			both;
    width:			100%;
    height:			100%;
    overflow:		auto;
    background:		white url(/css/images/fadeIcon.png) no-repeat right bottom;
    font-size:		12px; 
    font-family:	Monaco, sans-serif; 
    padding:        0px;
    margin: 		0px;
    borders:		0px;
}
#defn:hover{background:	white url(/css/images/fadeWords.png) no-repeat right bottom;}





/* INTERACTIONS */
#interactions{
    border-top:		solid 1px black;
    clear:			both;
    width:			100%;
    height:                     50%;
    background:		white url(images/blank.gif) no-repeat;
    overflow:           auto;
    padding-left: 	5px;
}

#interactions:hover{
    background:	white url(/css/images/interactions.png) no-repeat right bottom;}

#inter {
    width:              100%;
    height:		100%;
    padding:		0px;
    margin:		0px;
    overflow:		auto;
    font-family:	Monaco, sans-serif;
    font-size:		12px;
    background:         none;
}


#inter input{
    width:              90%;
    height:             100%;
    font-size:		12px; 
    font-family:	Monaco, sans-serif; 
    border:		0px;
    outline: 0 !important; /* disable focus ring in Safari */
    background:         none;
}


/* 22px: FOOTER */
#footer {
    clear:          both;
    width:			100%;
    height:			24px;
    padding:		1px 0px;
    border-top:		solid 1px black;
    color:			black;
    background:		#f5deb3; /* prevent interactions from peeking through footer in short windows */
}




div#publicId, div#publicIdLabel{ display: none; }



div.moby-error {
    border-width: 1px 0px;
    color: red;
    width: 100%;
   /*font-size: large;*/
}

.colored-link {
	font-style: italic;
    padding-left: 6px;
    padding-right: 6px;
  /*  min-width: 22px; */
    margin: 0px 5px;
    cursor: pointer;
}


/* Break errors will not show up in red, to avoid scaring students away */
div.moby-break-error {
    border-width: 1px 0px;
    width: 100%;
}


div.error-stack-trace {
    max-height: 100px;
    overflow: auto;
}


p.location-paragraph {
    margin-top: 0px;
    margin-bottom: 0px;
}



a.socialBookmarklet {
    border: 0px solid black;
}

img.socialBookmarklet {
    border: 0px solid black;
}


/* To make spans as top-aligned inlined blocks, as used in the REPL */
span.top-aligned-inline-block {
    display: inline-block;
    vertical-align: top;

    /* For IE 7 */
    zoom: 1;
    *display: inline;
}


.evaluatorToplevelNode {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}


.highlight1 {
    background-color: green;
}

.highlight2 {
    background-color: blue;
}

.highlight3 {
    background-color: yellow;
}




/*	
.documentation{
	overflow: hidden;
	position: fixed;
    right: 10px;
    top: 5px;
    width: 33%;
    height: 94.6%;
    
    z-index: 4;
}
*/

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px){
    #toolbar li a{
        border-left:  solid 1px gray;
		font-size: 0px;
		padding-top: 10px;   
		padding-bottom: 10px; 
		}

	#toolbar li a:hover{background: none;}
}