/* Some global settings */
html{	min-width:		625px; background: url(images/cute.jpg) center center;}
html, body, h1, h2, #header, #fileInfo, #toolbar *, #defn, #footer, #inter, input{
	padding:		0px;
	margin:			0px;
}


/* 0px: LOGO AND TITLE */
#header{
	display:		none;
}

/* 30px: FILENAME & URL */
#fileInfo{
	position:		absolute;
	bottom:			22px;
	width:			100%;
	height:			24px;	/* leave room for the border */
	clear:			both;
	padding:		5px 0px;
	white-space:	nowrap;
	border-top:		solid 1px black;
	color:			white;
	background:		black;
}

#fileInfo *{
	float:			left;
	margin:			0px 10px;
}

/* 20px: TOOLBAR, BUTTONS, ETC */
#toolbar{
	width:			100%;
	height:			19px;	/* leave room for the border */
	border-bottom:	solid 1px black;
	background:		black;
	clear:			both;
}

#toolbar ul{
	clear:			both;
	list-style-type:none;
}

#toolbar li{
	float:			left;
	text-align:		center;
	width:			125px;
	background-repeat: no-repeat;
	background-position: 0 50%;
	clear:			right;
}

#toolbar li a, #toolbar li a:visited{
	display:		block;
	color:			white;
	width:			100%;
	text-decoration:none;
}
#toolbar li a:hover{
	background:		#546DAF;
	color:			white;
	cursor:			pointer;
}

/* tooltips */
a:hover {background:white;} /*BG color is a must for IE6*/
a span {display:none;}
a:hover span{display: none;}

/* Images and text alignment for buttons */
#toolbar li.account{float: right; clear: none;}
#toolbar li.docs{float: right; clear: none;}
#toolbar li.docs a:hover{float: right; clear: none;background: #B3411C}

/* 420px: DEFINITIONS */
#definitions{
	clear:			both;
	height:			400px;
	text-align:		center;
	border:			solid black 10px;
}
#defn {
	clear:			both;
    height:			400px;
	overflow:		auto;
	width:			100%;
	background:		transparent;
	font-family:	Verdana;
	font-size:		16pt;
}

/* flexible: INTERACTIONS */
#interactions{
	position:		absolute;
	top:			440px;
	bottom:			55px;
	clear:			both;
	width:			100%;
	background:		#546DAF;
}

#inter {
	height:			100%;
	padding:		10px;
	overflow:		auto;
}

/* 22px: FOOTER */
#footer {
    position:		absolute;
	bottom:			0px;
	height:			20px;
	padding:		1px 0px;
    width:			100%;
	color:			white;
	background:		#546DAF;
}

