 @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
 	html, html:hover{background: white;}
}

.cm-s-scheme {
  width: 100%;
  height: 100%;
  margin: 0pt;
  padding: 0;
  font-family: "Droid Sans Mono", Monaco, monospace;
  font-size: 10pt;
  color: #666666;
}

.cm-s-scheme pre.code {
	color: #666666;
}

.cm-s-scheme p {
  margin: 0;
}

span.cm-scheme-punctuation.CodeMirror-matchingbracket {
    font-weight: bold;
    color: #3399FF !important;  
    background-color: #d3d3d3;
}
span.cm-scheme-punctuation.CodeMirror-nonmatchingbracket {
    font-weight: bold;
    color: red !important;
    background-color: #d3d3d3;
}