.ProgramEntry {
    clear: left;
}
.ProgramTitle {
    float: left;
    margin-right: 10px;
    font-style: italic;
    font-size: large;
}
.ProgramId {
    float: left;
    margin-right: 10px;
}
.ProgramModified {
    float: left;
    margin-right: 10px;
}
