html {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.toplevelContainer {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
}


.header {
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
}



#definitions {
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    overflow: hidden;
}


#interactions {
    width: 100%;
    height: 50%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    overflow: hidden;
}


#middle {
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.editable {
    padding: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0px;
    padding: 0px;
    background-color: #999999;
}

.footer {
    padding: 0px;
    width: 100%;
    background-color: white;
    padding: 0px;
    margin: 0px;
    border: 0px;
}