div#design-recipe-form .CodeMirror {background: white; border: solid 1px black;   max-width: 330px;}
div#design-recipe-form .CodeMirror-scroll {height: 300px;}
div#design-recipe-form .activeline{background:	wheat !important;}

/* override CM's default height of 300px */
div#design-recipe-form .CodeMirror{height: auto;}
div#design-recipe-form .CodeMirror-scroll{
    height: auto;
    overflow-y: hidden;
    overflow-x: hidden;
    width: auto;
    border: 1px inset;
    font-weight: normal;
    min-width: 100px;
}

div#design-recipe-form .CodeMirror{
    display: inline-block;
    margin: 5px 0px;   
    vertical-align: top;}

div#design-recipe-form .CodeMirror-lines {
    padding: .1em;
}

div#design-recipe-form {
	border:			solid 1px black;
	min-height:		160px;
	width:      560px;
	padding:		0px; 
	margin-left:	10px;
	font-size:		14px;
	font-weight:	bold;
	background:		white;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
}
div#design-recipe-form div.section{
	min-width:		400px; 
	font-family:	courier, monaco, serif; 
	background:		white;
	font-weight:	bold;
	border-bottom:	solid 1px black;
	font-size:		14px;
	margin:			0px;
	padding-left:	120px;
	background:		left top no-repeat;
}

div#design-recipe-form div.section#design-recipe-contract{background-image: url('contract.png')}
div#design-recipe-form div.section#design-recipe-examples{background-image: url('examples.png')}
div#design-recipe-form div.section#design-recipe-definition{background-image: url('code.png'); border-bottom: 0px;}
div#design-recipe-form div.section>span{vertical-align: middle;}


div#design-recipe-form div#design-recipe-example1_wrapper, div#design-recipe-example2_wrapper, div#design-recipe-definition_wrapper, div#design-recipe-contract_wrapper{
    max-width:      500px; 
    display:        inline-block; 
    vertical-align: top;
    margin-right:   20px;
}

div.indent-wrapper{
	display: inline-block;
	vertical-align: top;
	max-width:	330px;
}

div#design-recipe-form span.spacer{
    display: inline-block; 
    width: 75px;
    margin-top: 7px;
    margin-bottom: 9px;
}

div#design-recipe-form div.toolbar{
	display:		inline-block; 
	width:			100%; 
	/* background:		black;  */
	/* color:			white;  */
	/* font-size:		20px; */
}

div#design-recipe-form .stillErroneous{
    border: 3px solid red;
}

div#design-recipe-form .correct{
    border: 3px solid green;
}

div#design-recipe-form span.error{
    font-family: helvetica, arial;
    font-weight: normal; 
    font-size: 15px; 
    clear: both; 
    display: block;
    color: blue; 
    margin: 0px; 
    padding-bottom: 5px;}


div#design-recipe-form .completions {
    position: absolute;
    z-index: 10;
    overflow: hidden;
    -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
    -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
    box-shadow: 2px 3px 5px rgba(0,0,0,.2);
}
div#design-recipe-form .completions select {
    background: #fafafa;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    font-family: monospace;
}


div#design-recipe-form .button {
    width: 60px;
    height: 50px;
    margin: 5px;
    border: 1px solid black;
}

div#design-recipe-form .button[disabled] {
    background-color: gray;
}
