/*.cm-s-scheme {
  cursor: text;
  width: 100%;
  height: 100%;
}
html {
       background:     white url(/css/images/fadeIcon.png) no-repeat right bottom fixed;

}

html:hover{
       background:     white url(/css/images/fadeWords.png) no-repeat right bottom fixed;
}*/

/* @media only screen  */
/* and (min-device-width : 320px)  */
/* and (max-device-width : 480px) { */
/* 	html, html:hover{background: white;} */
/* } */

.cm-s-scheme {
	background: white;
  width: 100%;
  height: 100%;
  margin: 0pt;
  padding: 0;
  font-family: monospace;
  font-size: 10pt;
  color: #666666;
}







.cm-s-scheme pre.code {
	color: #666666;
}

.cm-s-scheme p {
  margin: 0;
}

.cm-s-scheme span.scheme-string	{color: green;}
.cm-s-scheme span.scheme-number	{color: blue;}
.cm-s-scheme span.scheme-boolean     {color: darkred;}
.cm-s-scheme span.scheme-character	{color: orange;}
.cm-s-scheme span.scheme-symbol	{color: steelblue;}
.cm-s-scheme span.scheme-punctuation {color: black;}
.cm-s-scheme span.scheme-rparen      {color: black;}
.cm-s-scheme span.scheme-comment     { color: orange; }


.cm-s-scheme span.good-matching-paren { 
    font-weight: bold;
    color: #3399FF;  
    background-color: #d3d3d3;
}
.cm-s-scheme span.bad-matching-paren {
    font-weight: bold;
    color: red;
    background-color: #d3d3d3;
}