<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
	  "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
	  "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
  <servlet>
    <servlet-name>/cron/keyServer</servlet-name>
    <servlet-class>org.wescheme.keys.KeyServer</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>initCompiler</servlet-name>
    <servlet-class>org.wescheme.project.Compiler</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>/cron/keyServer</servlet-name>
    <url-pattern>/cron/keyServer</url-pattern>
  </servlet-mapping>
  
  <security-constraint>
        <web-resource-collection>
            <url-pattern>/cron/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
   </security-constraint>
  
  
  <servlet>
    <servlet-name>addDropbox</servlet-name>
    <servlet-class>org.wescheme.servlet.AddDropboxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addDropbox</servlet-name>
    <url-pattern>/addDropbox</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>addBin</servlet-name>
    <servlet-class>org.wescheme.servlet.AddBinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addBin</servlet-name>
    <url-pattern>/addBin</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>addProject</servlet-name>
    <servlet-class>org.wescheme.servlet.AddProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addProject</servlet-name>
    <url-pattern>/addProject</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>createUser</servlet-name>
    <servlet-class>org.wescheme.servlet.CreateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createUser</servlet-name>
    <url-pattern>/createUser</url-pattern>
  </servlet-mapping>
 
 <servlet>
    <servlet-name>heartbeat</servlet-name>
    <servlet-class>org.wescheme.servlet.HeartbeatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>heartbeat</servlet-name>
    <url-pattern>/heartbeat</url-pattern>
  </servlet-mapping>
 
  
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>org.wescheme.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>index</servlet-name>
    <jsp-file>index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>servlet-name>
    <url-pattetrn>/index.html</url-pattetrn>
  </servlet-mapping>

  <servlet>
    <servlet-name>myDropboxes</servlet-name>
    <jsp-file>myDropboxes.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>myDropboxes</servlet-name>
    <url-pattern>/myDropboxes</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>dropbox</servlet-name>
    <jsp-file>dropbox.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>dropbox</servlet-name>
    <url-pattern>/dropbox</url-pattern>
  </servlet-mapping>
  
  

  <servlet>
    <servlet-name>openEditor</servlet-name>
    <jsp-file>/openEditor/index.jsp</jsp-file>
  </servlet>
  
  
  <servlet-mapping>
    <servlet-name>openEditor</servlet-name>
    <url-pattern>/openEditor</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>run</servlet-name>
    <jsp-file>run.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>run</servlet-name>
    <url-pattern>/run/*</url-pattern>
  </servlet-mapping>




  <servlet>
    <servlet-name>listProjects</servlet-name>
    <servlet-class>org.wescheme.servlet.ListProjectsServlet</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
    <servlet-name>listProjects</servlet-name>
    <url-pattern>/listProjects</url-pattern>
  </servlet-mapping>

  
  
  <servlet>
    <servlet-name>saveProject</servlet-name>
    <servlet-class>org.wescheme.servlet.SaveProjectServlet</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
    <servlet-name>saveProject</servlet-name>
    <url-pattern>/saveProject</url-pattern>
  </servlet-mapping>



  <servlet>
    <servlet-name>loadProject</servlet-name>
    <servlet-class>org.wescheme.servlet.LoadProjectServlet</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
    <servlet-name>loadProject</servlet-name>
    <url-pattern>/loadProject</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>publishProject</servlet-name>
    <servlet-class>org.wescheme.servlet.Publish</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>publishProject</servlet-name>
    <url-pattern>/publishProject</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>cloneProject</servlet-name>
    <servlet-class>org.wescheme.servlet.CloneProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cloneProject</servlet-name>
    <url-pattern>/cloneProject</url-pattern>
  </servlet-mapping>




  <servlet>
    <servlet-name>networkProxy</servlet-name>
    <servlet-class>org.wescheme.servlet.NetworkProxy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>networkProxy</servlet-name>
    <url-pattern>/networkProxy</url-pattern>
  </servlet-mapping>





</web-app>
