<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
	  "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
	  "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

    <mime-mapping>
        <extension>ogg</extension>
        <mime-type>audio/ogg</mime-type>
    </mime-mapping>

    <mime-mapping>
        <extension>mp3</extension>
        <mime-type>audio/mpeg</mime-type>
    </mime-mapping>



  <servlet>
    <servlet-name>/cron/keyServer</servlet-name>
    <servlet-class>org.wescheme.keys.KeyServer</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>



  <servlet-mapping>
    <servlet-name>/cron/keyServer</servlet-name>
    <url-pattern>/cron/keyServer</url-pattern>
  </servlet-mapping>
  
  <security-constraint>
        <web-resource-collection>
            <url-pattern>/cron/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
   </security-constraint>
  

  <!-- RemoteAPI: used for bulk data load -->
  <!-- http://code.google.com/appengine/docs/python/tools/uploadingdata.html -->
  <servlet>
    <servlet-name>RemoteApi</servlet-name>
    <servlet-class>com.google.apphosting.utils.remoteapi.RemoteApiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoteApi</servlet-name>
    <url-pattern>/remote_api</url-pattern>
  </servlet-mapping>

    
  <servlet>
    <servlet-name>createUser</servlet-name>
    <servlet-class>org.wescheme.servlet.CreateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createUser</servlet-name>
    <url-pattern>/createUser</url-pattern>
  </servlet-mapping>
 
 <servlet>
    <servlet-name>heartbeat</servlet-name>
    <servlet-class>org.wescheme.servlet.HeartbeatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>heartbeat</servlet-name>
    <url-pattern>/heartbeat</url-pattern>
  </servlet-mapping>
 
  
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>org.wescheme.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>myDropboxes</servlet-name>
    <jsp-file>myDropboxes.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>myDropboxes</servlet-name>
    <url-pattern>/myDropboxes</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>dropbox</servlet-name>
    <jsp-file>dropbox.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>dropbox</servlet-name>
    <url-pattern>/dropbox</url-pattern>
  </servlet-mapping>
  
  

  <servlet>
    <servlet-name>openEditor</servlet-name>
    <jsp-file>/openEditor/index.jsp</jsp-file>
  </servlet>  
  <servlet-mapping>
    <servlet-name>openEditor</servlet-name>
    <url-pattern>/openEditor</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>console</servlet-name>
    <jsp-file>/console.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>console</servlet-name>
    <url-pattern>/console</url-pattern>
  </servlet-mapping>



  <servlet>
    <servlet-name>view</servlet-name>
    <jsp-file>/view.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>view</servlet-name>
    <url-pattern>/view</url-pattern>
  </servlet-mapping>




  <servlet>
    <servlet-name>GetAndroidPackage</servlet-name>
    <servlet-class>org.wescheme.servlet.GetAndroidPackage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAndroidPackage</servlet-name>
    <url-pattern>/android</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>StoreAndroidPackage</servlet-name>
    <servlet-class>org.wescheme.servlet.StoreAndroidPackage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreAndroidPackage</servlet-name>
    <url-pattern>/store_android/*</url-pattern>
  </servlet-mapping>



  <servlet>
    <servlet-name>AddFeedback</servlet-name>
    <servlet-class>org.wescheme.servlet.AddFeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFeedback</servlet-name>
    <url-pattern>/addFeedback</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>DumpFeedback</servlet-name>
    <servlet-class>org.wescheme.servlet.DumpFeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DumpFeedback</servlet-name>
    <url-pattern>/dumpFeedback</url-pattern>
  </servlet-mapping>







  <servlet>
    <servlet-name>run</servlet-name>
    <jsp-file>/run.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>run</servlet-name>
    <url-pattern>/run</url-pattern>
  </servlet-mapping>





  <servlet>
    <servlet-name>listProjects</servlet-name>
    <servlet-class>org.wescheme.servlet.ListProjectsServlet</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
    <servlet-name>listProjects</servlet-name>
    <url-pattern>/listProjects</url-pattern>
  </servlet-mapping>

  
  
  <servlet>
    <servlet-name>saveProject</servlet-name>
    <servlet-class>org.wescheme.servlet.SaveProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saveProject</servlet-name>
    <url-pattern>/saveProject</url-pattern>
  </servlet-mapping>



  <servlet>
    <servlet-name>loadProject</servlet-name>
    <servlet-class>org.wescheme.servlet.LoadProjectServlet</servlet-class>
  </servlet>  
  <servlet-mapping>
    <servlet-name>loadProject</servlet-name>
    <url-pattern>/loadProject</url-pattern>
  </servlet-mapping>



  <servlet>
    <servlet-name>build</servlet-name>
    <servlet-class>org.wescheme.servlet.Build</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>build</servlet-name>
    <url-pattern>/build</url-pattern>
  </servlet-mapping>



  <servlet>
    <servlet-name>shareProject</servlet-name>
    <servlet-class>org.wescheme.servlet.Share</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shareProject</servlet-name>
    <url-pattern>/shareProject</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>deleteProject</servlet-name>
    <servlet-class>org.wescheme.servlet.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteProject</servlet-name>
    <url-pattern>/deleteProject</url-pattern>
  </servlet-mapping>



 
  <servlet>
    <servlet-name>cloneProject</servlet-name>
    <servlet-class>org.wescheme.servlet.CloneProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cloneProject</servlet-name>
    <url-pattern>/cloneProject</url-pattern>
  </servlet-mapping>



  <servlet>
    <servlet-name>administrate</servlet-name>
    <servlet-class>org.wescheme.servlet.Administrate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>administrate</servlet-name>
    <url-pattern>/administrate</url-pattern>
  </servlet-mapping>



  <servlet>
    <servlet-name>compile</servlet-name>
    <servlet-class>org.wescheme.servlet.Compile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>compile</servlet-name>
    <url-pattern>/compile</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>imageProxy</servlet-name>
    <servlet-class>org.wescheme.servlet.ImageProxy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>imageProxy</servlet-name>
    <url-pattern>/imageProxy</url-pattern>
  </servlet-mapping>





</web-app>
